(
    spawn_rate: 0.02,
    spawn_amount: 2,
    emission_shape: Circle(12.0),
    lifetime: (1.0, 0.3),
    linear_speed: Some((100.0, 0.5)),
    direction: Some(((0.0, 1.0), 1.0)),
    scale: Some((4.0, 1.0)),
    color: None,
    scale_curve: Some([(0.0, 1.0), (0.5, 1.2), (1.0, 0.0)]),
    color_curve: Some([
        (0.0, (r: 1.0, g: 1.0, b: 0.5, a: 0.8)),
        (0.5, (r: 1.0, g: 0.8, b: 0.0, a: 0.5)),
        (1.0, (r: 1.0, g: 0.5, b: 0.0, a: 0.0)),
    ]),
    relative_positioning: Some(true),
)
